NODE_ENV=development
PORT=3000

# Local or remote mongodb atlas connection string
DATABASE=mongodb://127.0.0.1:27017/natours
#DATABASE=mongodb+srv://yourusername:<PASSWORD>@your-cluster.example.mongodb.net/your-database

# Mongodb path for testing with jest
DATABASE_TEST=mongodb://127.0.0.1:27017/natours_test
#DATABASE_TEST=mongodb+srv://yourusername:<PASSWORD>@your-cluster.example.mongodb.net/your-database

# Atlas password 
DATABASE_PASSWORD=your_mongodb_password