NODE_ENV=development
PORT=3000

# Local or remote mongodb atlas connection string
DATABASE=mongodb://127.0.0.1:27017/natours
#DATABASE=mongodb+srv://yourusername:<PASSWORD>@your-cluster.example.mongodb.net/your-database

# Mongodb path for testing with jest
DATABASE_TEST=mongodb://127.0.0.1:27017/natours_test
#DATABASE_TEST=mongodb+srv://yourusername:<PASSWORD>@your-cluster.example.mongodb.net/your-database

# Atlas password 
DATABASE_PASSWORD=your_mongodb_password

### JWT
JWT_SECRET = jwt_secret
JWT_EXPIRES_IN = 90d


### MAIL
EMAIL_USER = your_email_user
EMAIL_PASSWORD = your_email_password
EMAIL_HOST = sandbox.smtp.mailtrap.io
EMAIL_PORT = 587